*, *::after, *::before {
    box-sizing: border-box;
}
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.pic {
    height: 30vw;
}

.spinner {
    width: 6rem;
    height: 6rem;
    /* animation: spin 2s linear infinite; */
  }

.spinner.spin  {
    transition: 4s;
    transform: rotate(180deg);


}




/* @keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(180deg) scale(2.0);
    }

    100% {
        transform: rotateZ(360deg);
        ;
    }
} */




.hidden {
    display: none;
}


  